.button {
  width: 100%;
  height: 46px;
  background: #1565d8;
  border-radius: 10px;
  border: 0;
  font-family: 'Nunito Sans700';
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  color: #ffffff;
  margin-top: 40px;
}
.button:hover {
  background: #1259bf;
}
.button:active {
  background: #0b4ba8;
}
.button:disabled {
  background: #dce1e7;
}
