.container {
  width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Nunito Sans';
  font-size: 12px;
  line-height: 16px;
  color: #778699;
  text-decoration: none;
  padding-bottom: 34px;
}
.text {
  font-family: 'Nunito Sans';
  font-size: 12px;
  line-height: 16px;
  color: #778699;
  text-decoration: none;
}
.linkBlock {
  display: flex;
  flex-direction: row;
  gap: 24px;
}
