@font-face {
  font-family: WorkSans-Regular;
  src: local('Work Sans'), url('../../assets/fonts/Work_Sans/static/WorkSans-Regular.ttf');
  font-family: NunitoSans-Regular;
  src: local('Nunito Sans'), url('../../assets/fonts/Nunito_Sans/NunitoSans-Regular.ttf');
}
