.containerLinkBlock {
  display: flex;
  justify-content: center;
  flex-direction: row;
  font-family: 'Nunito Sans700';
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  color: #1565d8;
  padding-top: 22px;
}
