.containerSignUp {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.registrationForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  padding-top: 47px;
}
.elipsis {
  display: flex;
  position: absolute;
  align-self: flex-end;
  width: 226.02px;
  height: 226.02px;
  right: 62.29px;
  bottom: 57.15px;
}
.mainBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
