.containerHeader {
  display: flex;
  align-self: flex-start;
}
.logo {
  padding-top: 30px;
  padding-left: 135px;
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.1em;
  color: #333333;
}
