@font-face {
  font-family: WorkSans-Regular;
  src: local('Work Sans'), url('../../assets/fonts/Work_Sans/static/WorkSans-Regular.ttf');
}
.containerHeader {
  display: flex;
  align-self: flex-start;
}
.logo {
  padding-top: 30px;
  padding-left: 135px;
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.1em;
  color: #333333;
}
