.labelText {
  display: flex;
  justify-content: center;
  align-self: center;
  text-align: center;
  width: 100%;
  background-image: url(../../assets//svg/loginBackGround.svg);
  background-repeat: no-repeat;
  background-position: center;
  font-family: 'Nunito Sans Black';
  font-size: 55px;
  line-height: 62px;
  color: #1d1d1d;
}
