.labelText {
  display: flex;
  align-items: center;
  text-align: center;
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 900;
  font-size: 55px;
  line-height: 62px;
  color: #1d1d1d;
  background-image: url(../../assets//svg/loginBackGround.svg);
  background-repeat: no-repeat;
}
.container {
  position: relative;
}
