.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.box {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  display: flex;
  justify-content: center;
  font-family: 'Nunito Sans ExtraBold';
  font-weight: 800;
  font-size: 32px;
  line-height: 44px;
  color: #333333;
}
.text {
  display: flex;
  justify-content: center;
  font-family: 'Nunito Sans';
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: #5b6470;
}
.block {
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
