.elipsisBlock {
  display: flex;
  justify-content: end;
}
.smallElipsis {
  width: 163.22px;
  height: 163.22px;
  background-image: url(../../assets/svg/ellipseSmall.svg);
  background-repeat: no-repeat;
  opacity: 0.5;
  position: absolute;
  right: 63.72px;
  bottom: 52.86px;
}
.bigElipsis {
  position: relative;
  width: 172.81px;
  height: 172.81px;
  background-image: url(../../assets/svg/ellipseBig.svg);
  background-repeat: no-repeat;
}
