.inputTitle {
  font-family: 'Nunito Sans';
  font-style: normal;
  line-height: 18px;
  font-feature-settings: 'liga' off;
  color: #778699;
}
.input {
  outline: none;
  width: 100%;
  border: 1px transparent;
  border-radius: 10px;
  padding-left: 15px;
  padding-top: 12px;
  padding-bottom: 12px;
  color: #778699;
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  font-feature-settings: 'liga' off;
  color: #778699;
}
.inputContainer {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}
.inputElement {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 2px solid #dce1e7;
  border-radius: 10px;
}
.buttonEye {
  appearance: none;
  border: 0;
  border-radius: 0;
  background: transparent;
  padding-right: 16px;
}

.inputElement:hover {
  background-color: #e6eefa;
  border: 2px solid #778699;
  .input {
    background-color: #e6eefa;
  }
}
.labelContainer {
  display: flex;
  justify-content: space-between;
}
.errorText {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  text-align: right;
  font-feature-settings: 'liga' off;
  color: #eb5757;
}
.errorInput {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid #eb5757;
  border-radius: 10px;
}

.inputElement:focus-within {
  .input {
    background-color: white;
  }
  background-color: white;
  border: 2px solid #1565d8;
}
